<h2>Importing Libraries</h2>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.decomposition import PCA

In [2]:
two_018=pd.read_csv("C:/Users/samde/Desktop/Data Science/Datasets/IPL/IPL(2018-19).csv")

In [3]:
#Separating THE Types of players
bat18=two_018[two_018['Type']=='BAT']
ball18=two_018[two_018['Type']=='Bowl']
AR18=two_018[two_018['Type']=='AR']
wk18=two_018[two_018['Type']=='WK']

<h3>BATSMAN</h3>

In [ ]:
bat18.drop(['Age','Balls  Bowled','Economy','Wickets','Runs Scored',"Sl.No"],axis=1,inplace=True)

In [14]:
bat18.head()

,Player's Name,Team,From,Run,Ball,Strike Rate,4's,6's,Highest Run Scored,Ct_St,Run Outs,Matches Played,Type,HardHitting2018,FastScoring2018,Running2018
1,Suresh Raina,CSK,IND,445,336,132.4,46,12,75,9,1.5,15,BAT,0.761905,1.324405,0.679856
6,Faf du Plessis,CSK,SA,162,129,125.6,17,6,67,1,0.0,6,BAT,0.806202,1.255814,0.547170
7,M Vijay,CSK,IND,12,10,120,0,1,12,0,0.0,1,BAT,0.600000,1.200000,0.666667
16,Kedar Jadhav,CSK,IND,24,22,109.1,1,2,24,0,0.0,1,BAT,0.727273,1.090909,0.421053
17,Ambati Rayudu,CSK,IND,602,402,149.8,53,34,100,2,0.5,16,BAT,1.034826,1.497512,0.590476

In [13]:
bat18["HardHitting2018"]=(4*bat18["4's"]+6*bat18["6's"])/bat18["Ball"]
bat18["FastScoring2018"]=bat18["Run"]/bat18["Ball"]
bat18["Running2018"]=(bat18["Run"]-(4*bat18["4's"]+6*bat18["6's"]))/(bat18["Ball"]-(bat18["4's"]+bat18["6's"]))

C:\Users\samde\Miniconda3\envs\AI\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\samde\Miniconda3\envs\AI\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\samde\Miniconda3\envs\AI\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [16]:
bat18.reset_index(drop=True, inplace=True)

In [17]:
bat18.head()

,Player's Name,Team,From,Run,Ball,Strike Rate,4's,6's,Highest Run Scored,Ct_St,Run Outs,Matches Played,Type,HardHitting2018,FastScoring2018,Running2018
0,Suresh Raina,CSK,IND,445,336,132.4,46,12,75,9,1.5,15,BAT,0.761905,1.324405,0.679856
1,Faf du Plessis,CSK,SA,162,129,125.6,17,6,67,1,0.0,6,BAT,0.806202,1.255814,0.547170
2,M Vijay,CSK,IND,12,10,120,0,1,12,0,0.0,1,BAT,0.600000,1.200000,0.666667
3,Kedar Jadhav,CSK,IND,24,22,109.1,1,2,24,0,0.0,1,BAT,0.727273,1.090909,0.421053
4,Ambati Rayudu,CSK,IND,602,402,149.8,53,34,100,2,0.5,16,BAT,1.034826,1.497512,0.590476

In [18]:
data=bat18.drop(["Type",'From','Team'],axis=1)

In [19]:
data.head()

,Player's Name,Run,Ball,Strike Rate,4's,6's,Highest Run Scored,Ct_St,Run Outs,Matches Played,HardHitting2018,FastScoring2018,Running2018
0,Suresh Raina,445,336,132.4,46,12,75,9,1.5,15,0.761905,1.324405,0.679856
1,Faf du Plessis,162,129,125.6,17,6,67,1,0.0,6,0.806202,1.255814,0.547170
2,M Vijay,12,10,120,0,1,12,0,0.0,1,0.600000,1.200000,0.666667
3,Kedar Jadhav,24,22,109.1,1,2,24,0,0.0,1,0.727273,1.090909,0.421053
4,Ambati Rayudu,602,402,149.8,53,34,100,2,0.5,16,1.034826,1.497512,0.590476

In [21]:
data=data[data["Matches Played"]!=0]
data=data.dropna(how='any')
data=data[data["Run"]!=0]

In [22]:
data.reset_index(drop=True, inplace=True)

In [25]:
pca = PCA(n_components=2)

In [26]:
from sklearn.preprocessing import StandardScaler

In [27]:
scaler = StandardScaler()

In [29]:
name=pd.DataFrame()
name['Player\'s Name']=data['Player\'s Name']

In [30]:
scaler.fit(data.drop(['Player\'s Name'],axis=1))

StandardScaler(copy=True, with_mean=True, with_std=True)

In [33]:
data=scaler.transform(data.drop(['Player\'s Name'],axis=1))

In [89]:
pca.fit(data)

PCA(copy=True, iterated_power='auto', n_components=2, random_state=None,
  svd_solver='auto', tol=0.0, whiten=False)

In [97]:
final=pca.transform(data)

In [98]:
df=pd.DataFrame(final)

In [99]:
df["Player's Name"]=name['Player\'s Name']

In [100]:
df.head()

          0         1   Player's Name
0  1.842562 -1.787245    Suresh Raina
1 -1.811535  1.309107  Faf du Plessis
2 -4.276258  0.592391         M Vijay
3 -4.314354  1.622132    Kedar Jadhav
4  3.575492  1.391325   Ambati Rayudu

In [109]:
df.to_csv('C:/Users/samde/Desktop/Data Science/Datasets/IPL/FinalBatPCA18.csv')

In [101]:
print(pca.singular_values_)

[14.82703404  7.38806297]

In [102]:
pca.components_

array([[ 0.3512395 ,  0.33819729,  0.29703574,  0.33842021,  0.32415334,
         0.32532342,  0.20050073,  0.24736597,  0.29660073,  0.26556567,
         0.29710032,  0.02068923],
       [-0.10582855, -0.17319912,  0.2771521 , -0.11264896,  0.17863409,
         0.06367245, -0.41385748, -0.29857862, -0.23137381,  0.4736289 ,
         0.27693362, -0.46728725]])

<h2>BOWLER</h2>

In [44]:
ball18.drop(['Team','From','Sl.No','Age',"Run","Ball","Strike Rate","4's","6's","Highest Run Scored","Run Outs"],axis=1,inplace=True)

C:\Users\samde\Miniconda3\envs\AI\lib\site-packages\pandas\core\frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [62]:
ball18.head()

,Player's Name,Balls Bowled,Runs Scored,Economy,Wickets,Ct_St,Matches Played,Type,consistency2018,wickettaking2018
0,Deepak Chahar,229,278,7.3,10,1,12,Bowl,27.800000,22.900000
1,KM Asif,36,75,12.5,3,0,2,Bowl,25.000000,12.000000
2,Lungi Ngidi,156,156,6,11,1,7,Bowl,14.181818,14.181818
3,Imran Tahir,124,188,9.1,6,2,6,Bowl,31.333333,20.666667
4,Harbhajan Singh,191,270,8.5,7,4,13,Bowl,38.571429,27.285714

In [47]:
ball18["consistency2018"]=ball18["Runs Scored"]/ball18["Wickets"]
ball18["wickettaking2018"]=ball18["Balls  Bowled"]/ball18["Wickets"]

C:\Users\samde\Miniconda3\envs\AI\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\samde\Miniconda3\envs\AI\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [61]:
ball18.reset_index(drop=True, inplace=True)

In [76]:
data2=ball18.drop(['Type'],axis=1)

In [77]:
data2=data2[data2["Matches Played"]!=0]
data2=data2.dropna(how='any')
data2=data2[data2["Balls  Bowled"]!=0]

In [78]:
data2.reset_index(drop=True, inplace=True)

In [79]:
data2.head()

,Player's Name,Balls Bowled,Runs Scored,Economy,Wickets,Ct_St,Matches Played,consistency2018,wickettaking2018
0,Deepak Chahar,229,278,7.3,10,1,12,27.800000,22.900000
1,KM Asif,36,75,12.5,3,0,2,25.000000,12.000000
2,Lungi Ngidi,156,156,6,11,1,7,14.181818,14.181818
3,Imran Tahir,124,188,9.1,6,2,6,31.333333,20.666667
4,Harbhajan Singh,191,270,8.5,7,4,13,38.571429,27.285714

In [80]:
pca2 = PCA(n_components=2)

In [81]:
from sklearn.preprocessing import StandardScaler

In [82]:
scaler = StandardScaler()

In [83]:
name2=pd.DataFrame()
name2['Player\'s Name']=data2['Player\'s Name']

In [84]:
scaler.fit(data2.drop(['Player\'s Name'],axis=1))

StandardScaler(copy=True, with_mean=True, with_std=True)

In [85]:
data2=scaler.transform(data2.drop(['Player\'s Name'],axis=1))

In [86]:
pca2.fit(data2)

PCA(copy=True, iterated_power='auto', n_components=2, random_state=None,
  svd_solver='auto', tol=0.0, whiten=False)

In [103]:
final2=pca2.transform(data2)

In [104]:
df2=pd.DataFrame(final2)

In [105]:
df2["Player's Name"]=name2['Player\'s Name']

In [106]:
df2.head()

          0         1    Player's Name
0  0.209825  0.322461    Deepak Chahar
1 -3.534512  1.296195          KM Asif
2 -0.337797  2.648114      Lungi Ngidi
3 -1.608396  0.249458      Imran Tahir
4 -0.135043 -1.338565  Harbhajan Singh

In [107]:
print(pca2.singular_values_)

[13.25160512  9.08744071]

In [108]:
pca2.components_

array([[ 0.45589429,  0.43463612, -0.22240624,  0.45347261,  0.30987845,
         0.44498349, -0.19604465, -0.12522551],
       [-0.11487864, -0.22659439, -0.32295337,  0.09217887, -0.27102737,
        -0.16406722, -0.61817117, -0.583226  ]])

<h2> ALL Rounder</h2>

In [114]:
AR18.head()

,Player's Name,Run,Ball,Strike Rate,4's,6's,Highest Run Scored,Balls Bowled,Runs Scored,Economy,Wickets,Ct_St,Run Outs,Matches Played,Type,HardHitting2018,FastScoring2018,Running2018,consistency2018,wickettaking2018
4,Karn Sharma,0,0,-,0,0,0,57,89,9.4,4,3,0.5,6,AR,NaN,NaN,NaN,22.250000,14.250000
5,Dhruv Shorey,8,9,88.9,0,1,8,0,0,-,0,1,0.0,1,AR,0.666667,0.888889,0.250000,NaN,NaN
8,Ravindra Jadeja,89,74,120.3,3,4,27,246,303,7.4,11,11,0.5,16,AR,0.486486,1.202703,0.791045,27.545455,22.363636
10,Mitchell Santner,0,0,-,0,0,0,0,0,-,0,0,0.0,0,AR,NaN,NaN,NaN,NaN,NaN
12,Dwayne Bravo,141,91,154.9,8,10,68,321,533,10,14,9,0.5,16,AR,1.010989,1.549451,0.671233,38.071429,22.928571

In [111]:
AR18.drop(['Team','Sl.No','From','Age'],axis=1,inplace=True)

C:\Users\samde\Miniconda3\envs\AI\lib\site-packages\pandas\core\frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [112]:
AR18["HardHitting2018"]=(4*AR18["4's"]+6*AR18["6's"])/AR18["Ball"]
AR18["FastScoring2018"]=AR18["Run"]/AR18["Ball"]
AR18["Running2018"]=(AR18["Run"]-(4*AR18["4's"]+6*AR18["6's"]))/(AR18["Ball"]-(AR18["4's"]+AR18["6's"]))

C:\Users\samde\Miniconda3\envs\AI\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\samde\Miniconda3\envs\AI\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\samde\Miniconda3\envs\AI\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [113]:
AR18["consistency2018"]=AR18["Runs Scored"]/AR18["Wickets"]
AR18["wickettaking2018"]=AR18["Balls  Bowled"]/AR18["Wickets"]

C:\Users\samde\Miniconda3\envs\AI\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\samde\Miniconda3\envs\AI\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [115]:
data3=AR18.drop(['Type'],axis=1)

In [122]:
data3=data3.replace([np.inf, -np.inf], np.nan)

In [123]:
data3=data3[data3["Matches Played"]!=0]

In [128]:
data3=data3.dropna(how='any')
data3=data3[data3["Run"]!=0]
data3=data3[data3["Balls  Bowled"]!=0]

In [129]:
data3.reset_index(drop=True, inplace=True)

In [130]:
pca3 = PCA(n_components=2)
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [135]:
name3=pd.DataFrame()
name3['Player\'s Name']=data3['Player\'s Name']

In [136]:
scaler.fit(data3.drop(['Player\'s Name'],axis=1))

StandardScaler(copy=True, with_mean=True, with_std=True)

In [137]:
data3=scaler.transform(data3.drop(['Player\'s Name'],axis=1))

In [138]:
pca3.fit(data3)

PCA(copy=True, iterated_power='auto', n_components=2, random_state=None,
  svd_solver='auto', tol=0.0, whiten=False)

In [139]:
final3=pca3.transform(data3)

In [140]:
df3=pd.DataFrame(final3)
df3["Player's Name"]=name3['Player\'s Name']
df3.head()

          0         1    Player's Name
0  0.748961  2.409422  Ravindra Jadeja
1  2.648154  0.883321     Dwayne Bravo
2  5.477823 -2.781564     Shane Watson
3  3.388268  2.060473    Hardik Pandya
4  2.842431  1.082135    Krunal Pandya

In [141]:
print(pca3.singular_values_)

[12.31900172  9.43282814]

In [142]:
pca3.components_

array([[ 0.33029444,  0.32620505,  0.14769724,  0.31454772,  0.2920165 ,
         0.30825544,  0.25656941,  0.25589729, -0.13999694,  0.26004776,
         0.23218872,  0.10918076,  0.31866785,  0.16950665,  0.14778481,
        -0.04761652, -0.16500883, -0.13214177],
       [-0.12710972, -0.0731054 , -0.38723432, -0.05623697, -0.22497318,
        -0.23337938,  0.28826542,  0.25946945, -0.13786588,  0.31695796,
         0.09408541,  0.12353242,  0.13543666, -0.36185155, -0.38721115,
        -0.1278824 , -0.2481891 , -0.22167535]])