<h1>Greeting</h1>

This is the main IPython notebbok which contains the major part of our approach.

In [2]:
import pandas as pd
import numpy as np

<h2>2010</h2>

In [652]:
two_010=pd.read_csv("C:/Users/samde/Desktop/Data Science/Datasets/IPL/IPL(2010-19).csv")

In [653]:
bat10=two_010[two_010['Type']=='BAT']
ball10=two_010[two_010['Type']=='Bowl']
AR10=two_010[two_010['Type']=='AR']
wk10=two_010[two_010['Type']=='WK']

In [654]:
bat10.head()

,Player's Name,Sl no,Team,From,Runs,Balls,Four,Six,Highest Run Scored,Strike Rate,Balls Bowled,Runs Conceded,Economy,Wickets,ct_st,Run Outs,Matches Played,Age,Type
1,Suresh Raina,175,CSK,IND,524,365,46,22,83,143.561644,143,178,7.468531,6,10,2.0,16,23.0,BAT
4,Kedar Jadhav,90,DD,IND,76,56,7,2,50,135.714286,0,0,NaN,0,0,0.5,5,25.0,BAT
5,Ambati Rayudu,17,MI,IND,356,246,34,13,55,144.715447,0,0,NaN,0,7,3.5,14,24.0,BAT
7,Rohit Sharma,145,DC,IND,404,302,36,14,73,133.774834,114,153,8.052632,2,9,0.5,16,23.0,BAT
16,Shikhar Dhawan,164,MI,IND,191,170,23,3,56,112.352941,0,0,NaN,0,5,0.0,10,24.0,BAT

In [655]:
bat10.drop(['Age','Balls Bowled','Economy','Wickets','Runs Conceded',"Sl no"],axis=1,inplace=True)

C:\Users\samde\Miniconda3\envs\AI\lib\site-packages\pandas\core\frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [656]:
bat10["HardHitting2010"]=(4*bat10["Four"]+6*bat10["Six"])/bat10["Balls"]
bat10["FastScoring2010"]=bat10["Runs"]/bat10["Balls"]
bat10["Running2010"]=(bat10["Runs"]-(4*bat10["Four"]+6*bat10["Six"]))/(bat10["Balls"]-(bat10["Four"]+bat10["Six"]))

C:\Users\samde\Miniconda3\envs\AI\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\samde\Miniconda3\envs\AI\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\samde\Miniconda3\envs\AI\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [657]:
ball10.head()

,Player's Name,Sl no,Team,From,Runs,Balls,Four,Six,Highest Run Scored,Strike Rate,Balls Bowled,Runs Conceded,Economy,Wickets,ct_st,Run Outs,Matches Played,Age,Type
6,Harbhajan Singh,69,MI,IND,105,63,12,5,49,166.666667,321,377,7.046729,17,6,0.5,15,29.0,Bowl
10,Lasith Malinga,97,MI,SL,1,1,0,0,1,100.000000,294,344,7.020408,15,2,1.5,13,26.0,Bowl
14,Piyush Chawla,129,KXI,IND,62,60,7,0,22,103.333333,294,367,7.489796,12,3,2.0,14,21.0,Bowl
15,Amit Mishra,18,DD,IND,39,51,1,0,12,76.470588,318,363,6.849057,17,4,2.5,14,27.0,Bowl
17,Ishant Sharma,77,KKR,IND,6,17,0,0,6,35.294118,150,236,9.440000,7,1,0.0,7,21.0,Bowl

In [559]:
ball10.drop(["Sl no"],axis=1,inplace=True)
#ball10.drop(["Runs","Balls","Strike Rate","Four","Six","Highest Run Scored","Run Outs"],axis=1,inplace=True)

C:\Users\samde\Miniconda3\envs\AI\lib\site-packages\pandas\core\frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [560]:
ball10["consistency2010"]=ball10["Runs Conceded"]/ball10["Wickets"]
ball10["wickettaking2010"]=ball10["Balls Bowled"]/ball10["Wickets"]

C:\Users\samde\Miniconda3\envs\AI\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\samde\Miniconda3\envs\AI\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [564]:
ball10.drop(['Team','ct_st'],axis=1,inplace=True)

C:\Users\samde\Miniconda3\envs\AI\lib\site-packages\pandas\core\frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [581]:
AR10.head()

,Player's Name,Runs,Balls,Four,Six,Highest Run Scored,Strike Rate,Balls Bowled,Runs Conceded,Economy,...,ct_st,Run Outs,Matches Played,Age,Type,HardHitting2010,FastScoring2010,Running2010,consistency2010,wickettaking2010
2,Dwayne Bravo,64,53,4,4,23,120.754717,157,228,8.713376,...,4,1.0,10,26.0,AR,0.754717,1.207547,0.533333,57.000000,39.25
3,Shane Watson,185,114,18,9,60,162.280702,132,184,8.363636,...,3,0.0,6,28.0,AR,1.105263,1.622807,0.678161,30.666667,22.00
9,Kieron Pollard,273,147,23,17,45,185.714286,222,274,7.405405,...,6,3.5,14,23.0,AR,1.319728,1.857143,0.738318,18.266667,14.80
11,Yuvraj Singh,255,199,20,14,43,128.140704,138,152,6.608696,...,2,0.0,14,28.0,AR,0.824121,1.281407,0.551515,30.400000,27.60
20,Yusuf Pathan,333,201,22,24,100,165.671642,204,246,7.235294,...,9,1.0,14,27.0,AR,1.154229,1.656716,0.651613,49.200000,40.80

In [580]:
#AR10.drop(['Team','Sl no','From'],axis=1,inplace=True)
AR10["HardHitting2010"]=(4*AR10["Four"]+6*AR10["Six"])/AR10["Balls"]
AR10["FastScoring2010"]=AR10["Runs"]/AR10["Balls"]
AR10["Running2010"]=(AR10["Runs"]-(4*AR10["Four"]+6*AR10["Six"]))/(AR10["Balls"]-(AR10["Four"]+AR10["Six"]))
AR10["consistency2010"]=AR10["Runs Conceded"]/AR10["Wickets"]
AR10["wickettaking2010"]=AR10["Balls Bowled"]/AR10["Wickets"]

C:\Users\samde\Miniconda3\envs\AI\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\samde\Miniconda3\envs\AI\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\samde\Miniconda3\envs\AI\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
C:\Users\samde\Miniconda3\envs\AI\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
C:\Users\samde\Miniconda3\envs\AI\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

<h2>2011</h2>

In [143]:
two_011=pd.read_csv("C:/Users/samde/Desktop/Data Science/Datasets/IPL/IPL(2011-19).csv")

In [153]:
bat11=two_011[two_011['Type']=='BAT']
ball11=two_011[two_011['Type']=='Bowl']
AR11=two_011[two_011['Type']=='AR']
wk11=two_011[two_011['Type']=='WK']

In [175]:
ball11.head()

,Player's Name,Team,From,Balls Bowled,Runs Conceded,Wicket,Economy,ct_st,Matches Played,Age,Type
6,Harbhajan Singh,MI,IND,321,377,17,7.046729,6,15,29,Bowl
10,Lasith Malinga,MI,SL,294,344,15,7.020408,2,13,26,Bowl
13,Piyush Chawla,KXI,IND,294,367,12,7.489796,3,14,21,Bowl
14,Amit Mishra,DD,IND,318,363,17,6.849057,4,14,27,Bowl
16,Ishant Sharma,KKR,IND,150,236,7,9.440000,1,7,21,Bowl

In [168]:
ball11.drop(["Runs","Balls ","Strike Rate",'Highest Runs Scored',"Four","Six","Run Outs",'Sl No'],axis=1,inplace=True)

C:\Users\samde\Miniconda3\envs\AI\lib\site-packages\pandas\core\frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [178]:
bat11.head()

,Player's Name,Team,From,Runs,Balls,Strike Rate,Four,Six,Highest Runs Scored,ct_st,Run Outs,Matches Played,Age,Type
1,Suresh Raina,CSK,IND,524,365,143.561644,46,22,83,10,2.0,16,23,BAT
4,Kedar Jadhav,DD,IND,76,56,135.714286,7,2,50,0,0.5,5,25,BAT
5,Ambati Rayudu,MI,IND,356,246,144.715447,34,13,55,7,3.5,14,24,BAT
7,Rohit Sharma,DC,IND,404,302,133.774834,36,14,73,9,0.5,16,23,BAT
15,Shikhar Dhawan,MI,IND,191,170,112.352941,23,3,56,5,0.0,10,24,BAT

In [172]:
bat11.drop(['Balls Bowled','Economy','Wickets','Runs Concede',"Sl No"],axis=1,inplace=True)

C:\Users\samde\Miniconda3\envs\AI\lib\site-packages\pandas\core\frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [179]:
bat11["HardHitting2011"]=(4*bat11["Four"]+6*bat11["Six"])/bat11["Balls "]

C:\Users\samde\Miniconda3\envs\AI\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [182]:
bat11["FastScoring2011"]=bat11["Runs"]/bat11["Balls "]

C:\Users\samde\Miniconda3\envs\AI\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [183]:
bat11["Running2012"]=(bat11["Runs"]-(4*bat11["Four"]+6*bat11["Six"]))/(bat11["Balls "]-(bat11["Four"]+bat11["Six"]))

C:\Users\samde\Miniconda3\envs\AI\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [574]:
ball11.head()

,Player's Name,Balls Bowled,Runs Conceded,Wicket,Economy,ct_st,Matches Played,Age,Type,consistency2011,wickettaking2011
6,Harbhajan Singh,321,377,17,7.046729,6,15,29,Bowl,22.176471,18.882353
10,Lasith Malinga,294,344,15,7.020408,2,13,26,Bowl,22.933333,19.600000
13,Piyush Chawla,294,367,12,7.489796,3,14,21,Bowl,30.583333,24.500000
14,Amit Mishra,318,363,17,6.849057,4,14,27,Bowl,21.352941,18.705882
16,Ishant Sharma,150,236,7,9.440000,1,7,21,Bowl,33.714286,21.428571

In [573]:
#ball11.drop(['Team','From'],axis=1,inplace=True)
ball11["consistency2011"]=ball11["Runs Conceded"]/ball11["Wicket"]
ball11["wickettaking2011"]=ball11["Balls Bowled"]/ball11["Wicket"]

C:\Users\samde\Miniconda3\envs\AI\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\samde\Miniconda3\envs\AI\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [614]:
AR11.head()

,Player's Name,Runs,Balls,Strike Rate,Four,Six,Highest Runs Scored,Balls Bowled,Runs Conceded,Wicket,...,ct_st,Run Outs,Matches Played,Age,Type,HardHitting2011,FastScoring2011,Running2011,consistency2011,wickettaking2011
2,Dwayne Bravo,64,53,120.754717,4,4,23,157,228,4,...,4,1.0,10,26,AR,0.754717,1.207547,0.533333,57.000000,39.250000
3,Shane Watson,185,114,162.280702,18,9,60,132,184,6,...,3,0.0,6,28,AR,1.105263,1.622807,0.678161,30.666667,22.000000
9,Kieron Pollard,273,147,185.714286,23,17,45,222,274,15,...,6,3.5,14,23,AR,1.319728,1.857143,0.738318,18.266667,14.800000
19,Yusuf Pathan,333,201,165.671642,22,24,100,204,246,5,...,9,1.0,14,27,AR,1.154229,1.656716,0.651613,49.200000,40.800000
22,Stuart Binny,8,5,160.000000,1,0,8,6,9,0,...,0,0.0,1,27,AR,0.800000,1.600000,1.000000,inf,inf

In [585]:
#AR11.drop(['Team','Sl No','From'],axis=1,inplace=True)
AR11["HardHitting2011"]=(4*AR11["Four"]+6*AR11["Six"])/AR11["Balls "]
AR11["FastScoring2011"]=AR11["Runs"]/AR11["Balls "]
AR11["Running2011"]=(AR11["Runs"]-(4*AR11["Four"]+6*AR11["Six"]))/(AR11["Balls "]-(AR11["Four"]+AR11["Six"]))
AR11["consistency2011"]=AR11["Runs Conceded"]/AR11["Wicket"]
AR11["wickettaking2011"]=AR11["Balls Bowled"]/AR11["Wicket"]

C:\Users\samde\Miniconda3\envs\AI\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\samde\Miniconda3\envs\AI\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\samde\Miniconda3\envs\AI\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
C:\Users\samde\Miniconda3\envs\AI\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
C:\Users\samde\Miniconda3\envs\AI\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

<h2>2012</h2>

In [116]:
two_012=pd.read_csv("C:/Users/samde/Desktop/Data Science/Datasets/IPL/IPL(2012-19).csv")

In [117]:
two_012['Type'].value_counts()

BAT     14
Bowl    11
AR       7
WK       5
Name: Type, dtype: int64

In [119]:
bat12=two_012[two_012['Type']=='BAT']
ball12=two_012[two_012['Type']=='Bowl']
AR12=two_012[two_012['Type']=='AR']
wk12=two_012[two_012['Type']=='WK']

In [133]:
ball12.head()

,Player's Name,Sl No,Team,From,Balls Bowled,Runs Concede,Economy,Wickets,Ct_St,Matches Played,Age,Type
1,Deepak Chahar,76,RR,IND,0,0,-,0,0,0,19,Bowl
6,Harbhajan Singh,100,MI,IND,324,384,7.111111111,6,7,17,31,Bowl
10,Lasith Malinga,136,MI,SL,333,350,6.306306306,22,6,14,28,Bowl
15,Piyush Chawla,180,KXI,IND,342,419,7.350877193,16,3,16,23,Bowl
16,Kuldeep Yadav,132,MI,IND,0,0,-,0,0,1,17,Bowl

In [132]:
ball12.drop(["Run","Ball","Strike Rate","Four","Six"],axis=1,inplace=True)

C:\Users\samde\Miniconda3\envs\AI\lib\site-packages\pandas\core\frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [122]:
bat12.drop(['Balls Bowled','Economy','Wickets','Runs Concede'],axis=1,inplace=True)

C:\Users\samde\Miniconda3\envs\AI\lib\site-packages\pandas\core\frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [128]:
bat12.head()

,Player's Name,Sl No,Team,From,Run,Ball,Strike Rate,Four,Six,Ct_St,Matches Played,Age,Type,HardHitting2012,FastScoring2012,Running2012
2,Faf du Plessis,91,CSK,SA,398,304,130.9210526,29,17,4,12,27,BAT,0.717105,1.309211,0.697674
5,Ambati Rayudu,24,MI,IND,333,252,132.1428571,21,14,2,17,26,BAT,0.666667,1.321429,0.760369
7,Rohit Sharma,202,MI,IND,433,342,126.6081871,39,18,13,17,24,BAT,0.771930,1.266082,0.592982
13,Chris Lynn,63,DC,AUS,6,9,66.66666667,1,0,1,1,21,BAT,0.444444,0.666667,0.250000
20,Colin Ingram,65,DD,SA,0,0,-,0,0,0,0,26,BAT,NaN,NaN,NaN

In [124]:
bat12["HardHitting2012"]=(4*bat12["Four"]+6*bat12["Six"])/bat12["Ball"]

C:\Users\samde\Miniconda3\envs\AI\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [126]:
bat12["FastScoring2012"]=bat12["Run"]/bat12["Ball"]

C:\Users\samde\Miniconda3\envs\AI\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [127]:
bat12["Running2012"]=(bat12["Run"]-(4*bat12["Four"]+6*bat12["Six"]))/(bat12["Ball"]-(bat12["Four"]+bat12["Six"]))

C:\Users\samde\Miniconda3\envs\AI\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

<h2>2015</h2>

In [64]:
two_015=pd.read_csv("C:/Users/samde/Desktop/Data Science/Datasets/IPL/IPL(2015-19).csv")

In [65]:
two_015['Type'].value_counts()

BAT     24
Bowl    24
AR      17
WK       8
Name: Type, dtype: int64

In [66]:
bat15=two_015[two_015['Type']=='BAT']

In [99]:
bat15.drop(['Balls Bowled','Economy','Wickets','Runs Conceded'],axis=1,inplace=True)

C:\Users\samde\Miniconda3\envs\AI\lib\site-packages\pandas\core\frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [100]:
bat15.head()

,Player's Name,Sl.No,Team,From,Run,Ball,Strike Rate,Four,Six,Highest Run Scored,Ct_St,Run Outs,Matches Played,Type,HardHitting2015,FastScoring2015,Running2015
1,Suresh Raina,130,CSK,IND,374,305,122.6,31,16,62,11,0.0,17,BAT,0.721311,1.226230,0.596899
3,Faf du Plessis,40,CSK,SA,380,304,125,37,5,55,8,1.0,17,BAT,0.585526,1.250000,0.770992
8,Kedar Jadhav,66,DD,IND,189,140,135,16,7,63,9,0.5,14,BAT,0.757143,1.350000,0.709402
9,Ambati Rayudu,7,MI,IND,281,193,145.6,18,16,53,9,0.0,15,BAT,0.870466,1.455959,0.710692
13,Rohit Sharma,108,MI,IND,482,333,144.7,41,21,98,5,0.5,16,BAT,0.870871,1.447447,0.708487

In [68]:
bat15["HardHitting2015"]=(4*bat15["Four"]+6*bat15["Six"])/bat15["Ball"]

C:\Users\samde\Miniconda3\envs\AI\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [69]:
bat15["FastScoring2015"]=bat15["Run"]/bat15["Ball"]

C:\Users\samde\Miniconda3\envs\AI\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [70]:
bat15["Running2015"]=(bat15["Run"]-(4*bat15["Four"]+6*bat15["Six"]))/(bat15["Ball"]-(bat15["Four"]+bat15["Six"]))

C:\Users\samde\Miniconda3\envs\AI\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [71]:
ball15=two_015[two_015['Type']=='Bowl']

In [103]:
ball15.drop(["Run","Ball","Strike Rate","Four","Six","Highest Run Scored","Run Outs"],axis=1,inplace=True)

C:\Users\samde\Miniconda3\envs\AI\lib\site-packages\pandas\core\frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [274]:
ball15.head()

,Player's Name,Sl.No,Team,From,Balls Bowled,Runs Conceded,Economy,Wickets,Ct_St,Matches Played,Type
7,Imran Tahir,50,DD,SA,213,314,8.8,15,3,10,Bowl
10,Harbhajan Singh,47,MI,IND,342,446,7.8,18,3,15,Bowl
11,Shardul Thakur,120,KXI,IND,18,38,12.7,1,0,1,Bowl
12,Mohit Sharma,82,CSK,IND,342,481,8.4,14,5,16,Bowl
15,Jasprit Bumrah,56,MI,IND,90,184,12.3,3,0,4,Bowl

In [275]:
ball15["consistency2015"]=ball15["Runs Conceded"]/ball15["Wickets"]
ball15["wickettaking2015"]=ball15["Balls Bowled"]/ball15["Wickets"]

C:\Users\samde\Miniconda3\envs\AI\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [293]:
ball15.drop(['Team','Sl.No','Ct_St'],axis=1,inplace=True)

C:\Users\samde\Miniconda3\envs\AI\lib\site-packages\pandas\core\frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [294]:
ball15.head()

,Player's Name,From,Balls Bowled,Runs Conceded,Economy,Wickets,Matches Played,Type,consistency2015,wickettaking2015
7,Imran Tahir,SA,213,314,8.8,15,10,Bowl,20.933333,14.200000
10,Harbhajan Singh,IND,342,446,7.8,18,15,Bowl,24.777778,19.000000
11,Shardul Thakur,IND,18,38,12.7,1,1,Bowl,38.000000,18.000000
12,Mohit Sharma,IND,342,481,8.4,14,16,Bowl,34.357143,24.428571
15,Jasprit Bumrah,IND,90,184,12.3,3,4,Bowl,61.333333,30.000000

In [72]:
AR15=two_015[two_015['Type']=='AR']

In [286]:
AR15.drop(['Team','Sl.No','From'],axis=1,inplace=True)

C:\Users\samde\Miniconda3\envs\AI\lib\site-packages\pandas\core\frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [456]:
AR15["HardHitting2015"]=(4*AR15["Four"]+6*AR15["Six"])/AR15["Ball"]
AR15["FastScoring2015"]=AR15["Run"]/AR15["Ball"]
AR15["Running2015"]=(AR15["Run"]-(4*AR15["Four"]+6*AR15["Six"]))/(AR15["Ball"]-(AR15["Four"]+AR15["Six"]))

C:\Users\samde\Miniconda3\envs\AI\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\samde\Miniconda3\envs\AI\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\samde\Miniconda3\envs\AI\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [457]:
AR15["consistency2015"]=AR15["Runs Conceded"]/AR15["Wickets"]
AR15["wickettaking2015"]=AR15["Balls Bowled"]/AR15["Wickets"]

C:\Users\samde\Miniconda3\envs\AI\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\samde\Miniconda3\envs\AI\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [458]:
AR15.head()

,Player's Name,Run,Ball,Strike Rate,Four,Six,Highest Run Scored,Balls Bowled,Runs Conceded,Economy,Wickets,Ct_St,Run Outs,Matches Played,Type,HardHitting2015,FastScoring2015,Running2015,consistency2015,wickettaking2015
2,Karn Sharma,104,85,122.4,3,6,32,239,332,8.3,10,4,0.0,14,AR,0.564706,1.223529,0.736842,33.200000,23.900000
4,Ravindra Jadeja,132,126,104.8,7,3,24,256,330,7.7,11,13,1.0,17,AR,0.365079,1.047619,0.741379,30.000000,23.272727
5,Dwayne Bravo,195,148,131.8,22,5,62,314,426,8.1,26,13,2.0,17,AR,0.797297,1.317568,0.636364,16.384615,12.076923
6,Shane Watson,347,257,135,37,14,104,174,269,9.3,6,1,1.0,10,AR,0.902724,1.350195,0.558252,44.833333,29.000000
14,Hardik Pandya,112,62,180.6,9,8,61,102,176,10.4,1,7,0.5,9,AR,1.354839,1.806452,0.622222,176.000000,102.000000

In [73]:
wk15=two_015[two_015['Type']=='WK']

<h2>2013</h2>

In [74]:
two_013=pd.read_csv("C:/Users/samde/Desktop/Data Science/Datasets/IPL/IPL(2013-19).csv")

In [75]:
two_013['Type'].value_counts()

BAT     20
Bowl    20
AR      17
WK       8
Name: Type, dtype: int64

In [76]:
bat13=two_013[two_013['Type']=='BAT']
ball13=two_013[two_013['Type']=='Bowl']
AR13=two_013[two_013['Type']=='AR']
wk13=two_013[two_013['Type']=='WK']

In [104]:
ball13.drop(["Run","Ball","Strike Rate","Four","Six","Highest Run Scored","Run Outs"],axis=1,inplace=True)

C:\Users\samde\Miniconda3\envs\AI\lib\site-packages\pandas\core\frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [97]:
bat13.drop(['Balls Bowled','Economy','Wickets','RunsConceded'],axis=1,inplace=True)

C:\Users\samde\Miniconda3\envs\AI\lib\site-packages\pandas\core\frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [98]:
bat13.head()

,Player's Name,Sl.No,Team,From,Run,Ball,Strike Rate,Four,Six,Highest Run Scored,Ct_St,Run Outs,Matches Played,Age,Type,HardHitting2013,FastScoring2013,Running2013
1,Suresh Raina,236,CSK,IND,548,364,150.5,50,18,100,10,2.5,17,26,BAT,0.846154,1.505495,0.810811
2,Faf du Plessis,79,CSK,SA,0,0,-,0,0,0,0,0.0,0,28,BAT,NaN,NaN,NaN
6,Kedar Jadhav,114,DD,IND,152,124,122.6,8,5,31,6,1.0,12,28,BAT,0.500000,1.225806,0.810811
7,Ambati Rayudu,19,MI,IND,228,195,116.9,18,4,34,8,0.5,18,27,BAT,0.492308,1.169231,0.763006
10,Rohit Sharma,192,MI,IND,536,404,132.7,35,28,79,6,0.5,18,25,BAT,0.762376,1.326733,0.668622

In [78]:
bat13["HardHitting2013"]=(4*bat13["Four"]+6*bat13["Six"])/bat13["Ball"]

C:\Users\samde\Miniconda3\envs\AI\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [79]:
bat13["FastScoring2013"]=bat13["Run"]/bat13["Ball"]

C:\Users\samde\Miniconda3\envs\AI\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [80]:
bat13["Running2013"]=(bat13["Run"]-(4*bat13["Four"]+6*bat13["Six"]))/(bat13["Ball"]-(bat13["Four"]+bat13["Six"]))

C:\Users\samde\Miniconda3\envs\AI\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

<h2>2016</h2>

In [81]:
two_016=pd.read_csv("C:/Users/samde/Desktop/Data Science/Datasets/IPL/IPL(2016-19).csv")

In [82]:
two_016['Type'].value_counts()

Bowl    34
BAT     28
AR      23
WK      13
Name: Type, dtype: int64

In [83]:
bat16=two_016[two_016['Type']=='BAT']
ball16=two_016[two_016['Type']=='Bowl']
AR16=two_016[two_016['Type']=='AR']
wk16=two_016[two_016['Type']=='WK']

In [105]:
ball16.drop(["Run","Ball","Strike Rate","Four","Six","Highest Run Scored","Run Outs"],axis=1,inplace=True)

C:\Users\samde\Miniconda3\envs\AI\lib\site-packages\pandas\core\frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [107]:
ball16.head()

,Player's Name,Sl.no,Team,From,Balls Bowled,Runs Conceded,Economy,Wickets,Ct_St,Matches Played,Age,Type
2,Deepak Chahar,47,RPS,IND,30,41,8.2,0,1.0,2,24,Bowl
9,Imran Tahir,66,DD,SA,96,138,8.6,5,0.0,4,37,Bowl
12,Harbhajan Singh,62,MI,IND,294,392,8,9,4.0,14,36,Bowl
13,Shardul Thakur,164,KXI,IND,0,0,-,0,0.0,0,24,Bowl
14,Mohit Sharma,115,KXI,IND,291,407,8.4,13,3.0,14,28,Bowl

In [95]:
bat16.drop(['Balls Bowled','Economy','Wickets','Runs Conceded'],axis=1,inplace=True)

C:\Users\samde\Miniconda3\envs\AI\lib\site-packages\pandas\core\frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [101]:
bat16.head()

,Player's Name,Sl.no,Team,From,Run,Ball,Strike Rate,Four,Six,Highest Run Scored,Ct_St,Run Outs,Matches Played,Age,Type,HardHitting2016,FastScoring2016,Running2016
1,Suresh Raina,177,GL,IND,399,312,127.9,39,10,75,7.0,1.0,15,29,BAT,0.692308,1.278846,0.695817
4,Faf du Plessis,56,RPS,SA,206,162,127.2,17,9,69,4.0,0.0,6,32,BAT,0.753086,1.271605,0.617647
10,Kedar Jadhav,90,RCB,IND,42,32,131.3,2,2,25,1.0,0.0,4,31,BAT,0.625000,1.312500,0.785714
11,Ambati Rayudu,14,MI,IND,334,278,120.1,28,12,65,4.0,0.5,13,31,BAT,0.661871,1.201439,0.630252
15,Rohit Sharma,149,MI,IND,489,368,132.9,49,16,85,2.0,1.0,14,29,BAT,0.793478,1.328804,0.650165

In [88]:
bat16["HardHitting2016"]=(4*bat16["Four"]+6*bat16["Six"])/bat16["Ball"]

C:\Users\samde\Miniconda3\envs\AI\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [86]:
bat16["FastScoring2016"]=bat16["Run"]/bat16["Ball"]

C:\Users\samde\Miniconda3\envs\AI\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [87]:
bat16["Running2016"]=(bat16["Run"]-(4*bat16["Four"]+6*bat16["Six"]))/(bat16["Ball"]-(bat16["Four"]+bat16["Six"]))

C:\Users\samde\Miniconda3\envs\AI\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [454]:
ball16["consistency2016"]=ball16["Runs Conceded"]/ball16["Wickets"]
ball16["wickettaking2016"]=ball16["Balls Bowled"]/ball16["Wickets"]

C:\Users\samde\Miniconda3\envs\AI\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\samde\Miniconda3\envs\AI\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [455]:
ball16.head()

,Player's Name,Sl.no,Team,From,Balls Bowled,Runs Conceded,Economy,Wickets,Ct_St,Matches Played,Age,Type,consistency2016,wickettaking2016
0,Deepak Chahar,47,RPS,IND,30,41,8.2,0,1.0,2,24,Bowl,inf,inf
1,Imran Tahir,66,DD,SA,96,138,8.6,5,0.0,4,37,Bowl,27.600000,19.200000
2,Harbhajan Singh,62,MI,IND,294,392,8,9,4.0,14,36,Bowl,43.555556,32.666667
3,Shardul Thakur,164,KXI,IND,0,0,-,0,0.0,0,24,Bowl,NaN,NaN
4,Mohit Sharma,115,KXI,IND,291,407,8.4,13,3.0,14,28,Bowl,31.307692,22.384615

In [465]:
AR16.head()

,Player's Name,Run,Ball,Strike Rate,Four,Six,Highest Run Scored,Balls Bowled,Runs Conceded,Economy,Wickets,Ct_St,Run Outs,Matches Played,Type,HardHitting2016,FastScoring2016,Running2016
3,Karn Sharma,36,30,120,3,1,26,98,171,10.5,0,0.0,0.0,5,AR,0.600000,1.200000,0.692308
5,Ravindra Jadeja,191,177,107.9,14,4,36,241,311,7.7,8,4.0,0.0,15,AR,0.451977,1.079096,0.698113
7,Dwayne Bravo,99,82,120.7,11,1,22,336,494,8.8,17,6.0,1.5,15,AR,0.609756,1.207317,0.700000
8,Shane Watson,179,134,133.6,14,12,36,339,485,8.6,20,6.0,2.5,16,AR,0.955224,1.335821,0.472222
16,Hardik Pandya,44,63,69.8,4,0,9,100,153,9.2,3,6.0,0.0,11,AR,0.253968,0.698413,0.474576

In [464]:
AR16.drop(['Team','Sl.no','From','Age'],axis=1,inplace=True)
AR16["HardHitting2016"]=(4*AR16["Four"]+6*AR16["Six"])/AR16["Ball"]
AR16["FastScoring2016"]=AR16["Run"]/AR16["Ball"]
AR16["Running2016"]=(AR16["Run"]-(4*AR16["Four"]+6*AR16["Six"]))/(AR16["Ball"]-(AR16["Four"]+AR16["Six"]))

C:\Users\samde\Miniconda3\envs\AI\lib\site-packages\pandas\core\frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)
C:\Users\samde\Miniconda3\envs\AI\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\samde\Miniconda3\envs\AI\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\samde\Miniconda3\envs\AI\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [492]:
AR16["consistency2016"]=AR16["Runs Conceded"]/AR16["Wickets"]
AR16["wickettaking2016"]=AR16["Balls Bowled"]/AR16["Wickets"]

C:\Users\samde\Miniconda3\envs\AI\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\samde\Miniconda3\envs\AI\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

<h2>Finding PCA</h2>

<h3>2010 BAT PCA</h3>

In [659]:
bat10.head()

,Player's Name,Team,From,Runs,Balls,Four,Six,Highest Run Scored,Strike Rate,ct_st,Run Outs,Matches Played,Type,HardHitting2010,FastScoring2010,Running2010
1,Suresh Raina,CSK,IND,524,365,46,22,83,143.561644,10,2.0,16,BAT,0.865753,1.435616,0.700337
4,Kedar Jadhav,DD,IND,76,56,7,2,50,135.714286,0,0.5,5,BAT,0.714286,1.357143,0.765957
5,Ambati Rayudu,MI,IND,356,246,34,13,55,144.715447,7,3.5,14,BAT,0.869919,1.447154,0.713568
7,Rohit Sharma,DC,IND,404,302,36,14,73,133.774834,9,0.5,16,BAT,0.754967,1.337748,0.698413
16,Shikhar Dhawan,MI,IND,191,170,23,3,56,112.352941,5,0.0,10,BAT,0.647059,1.123529,0.562500

In [660]:
bat10.reset_index(drop=True, inplace=True)

In [661]:
data7=bat10.drop(["Type",'From','Team'],axis=1)

In [662]:
data7=data7[data7["Matches Played"]!=0]
data7=data7.dropna(how='any')
data7=data7[data7["Runs"]!=0]

In [669]:
pca = PCA(n_components=2)

In [670]:
X5=data7.drop(["Player's Name"],axis=1)
pca.fit(X5)

PCA(copy=True, iterated_power='auto', n_components=2, random_state=None,
  svd_solver='auto', tol=0.0, whiten=False)

In [671]:
lol7=pca.transform(X5)

In [673]:
df7=pd.DataFrame(lol7)
df7['Name']=data7["Player's Name"]
df7.to_csv('C:/Users/samde/Desktop/Data Science/Datasets/IPL/PCABat10.csv')

<h2> PCA BAT 2011</h2>

In [674]:
bat11.head()

,Player's Name,Team,From,Runs,Balls,Strike Rate,Four,Six,Highest Runs Scored,ct_st,Run Outs,Matches Played,Age,Type,HardHitting2011,FastScoring2011,Running2012
0,Suresh Raina,CSK,IND,524,365,143.561644,46,22,83,10,2.0,16,23,BAT,0.865753,1.435616,0.700337
1,Kedar Jadhav,DD,IND,76,56,135.714286,7,2,50,0,0.5,5,25,BAT,0.714286,1.357143,0.765957
2,Ambati Rayudu,MI,IND,356,246,144.715447,34,13,55,7,3.5,14,24,BAT,0.869919,1.447154,0.713568
3,Rohit Sharma,DC,IND,404,302,133.774834,36,14,73,9,0.5,16,23,BAT,0.754967,1.337748,0.698413
4,Shikhar Dhawan,MI,IND,191,170,112.352941,23,3,56,5,0.0,10,24,BAT,0.647059,1.123529,0.562500

In [675]:
bat11.reset_index(drop=True, inplace=True)

In [676]:
data8=bat11.drop(["Type",'From','Team'],axis=1)

In [677]:
data8=data8[data8["Matches Played"]!=0]
data8=data8.dropna(how='any')
data8=data8[data7["Runs"]!=0]

In [678]:
pca = PCA(n_components=2)

In [679]:
X6=data8.drop(["Player's Name"],axis=1)
pca.fit(X6)

PCA(copy=True, iterated_power='auto', n_components=2, random_state=None,
  svd_solver='auto', tol=0.0, whiten=False)

In [680]:
lol8=pca.transform(X6)

In [681]:
df8=pd.DataFrame(lol8)
df8['Name']=bat10["Player's Name"]
df8.to_csv('C:/Users/samde/Desktop/Data Science/Datasets/IPL/PCABat11.csv')

<h3>PCA BALL 2010</h3>

In [615]:
ball10.reset_index(drop=True, inplace=True)
data9=ball10.drop(["Type",'From'],axis=1)

In [616]:
data9.head()

,Player's Name,Balls Bowled,Runs Conceded,Economy,Wickets,Matches Played,Age,consistency2010,wickettaking2010
0,Harbhajan Singh,321,377,7.046729,17,15,29.0,22.176471,18.882353
1,Lasith Malinga,294,344,7.020408,15,13,26.0,22.933333,19.600000
2,Piyush Chawla,294,367,7.489796,12,14,21.0,30.583333,24.500000
3,Amit Mishra,318,363,6.849057,17,14,27.0,21.352941,18.705882
4,Ishant Sharma,150,236,9.440000,7,7,21.0,33.714286,21.428571

In [617]:
data9=data9.replace([np.inf, -np.inf], np.nan)
data9=data9.dropna(how='any')
data9.reset_index(drop=True, inplace=True)

In [618]:
data9.shape

(7, 9)

In [619]:
X7=data9.drop(["Player's Name"],axis=1)
pca.fit(X7)
lol9=pca.transform(X7)
df9=pd.DataFrame(lol9)
df9['Name']=data9["Player's Name"]
df9.to_csv('C:/Users/samde/Desktop/Data Science/Datasets/IPL/PCABall10.csv')

<h3>PCA BALL 2011</h3>

In [627]:
ball11.reset_index(drop=True, inplace=True)
data10=ball11.drop(["Type",'Age'],axis=1)

In [628]:
data10.head()

,Player's Name,Balls Bowled,Runs Conceded,Wicket,Economy,ct_st,Matches Played,consistency2011,wickettaking2011
0,Harbhajan Singh,321,377,17,7.046729,6,15,22.176471,18.882353
1,Lasith Malinga,294,344,15,7.020408,2,13,22.933333,19.600000
2,Piyush Chawla,294,367,12,7.489796,3,14,30.583333,24.500000
3,Amit Mishra,318,363,17,6.849057,4,14,21.352941,18.705882
4,Ishant Sharma,150,236,7,9.440000,1,7,33.714286,21.428571

In [629]:
data10=data10.replace([np.inf, -np.inf], np.nan)
data10=data10.dropna(how='any')
data10.reset_index(drop=True, inplace=True)

In [630]:
data10.shape

(8, 9)

In [631]:
X8=data10.drop(["Player's Name"],axis=1)
pca.fit(X8)
lol10=pca.transform(X8)
df10=pd.DataFrame(lol10)
df10['Name']=data10["Player's Name"]
df10.to_csv('C:/Users/samde/Desktop/Data Science/Datasets/IPL/PCABall11.csv')

<h3>PCA AR 2010</h3>

In [638]:
data11.head()

,Player's Name,Runs,Balls,Four,Six,Highest Run Scored,Strike Rate,Balls Bowled,Runs Conceded,Economy,Wickets,ct_st,Run Outs,Matches Played,HardHitting2010,FastScoring2010,Running2010,consistency2010,wickettaking2010
0,Dwayne Bravo,64,53,4,4,23,120.754717,157,228,8.713376,4,4,1.0,10,0.754717,1.207547,0.533333,57.000000,39.25
1,Shane Watson,185,114,18,9,60,162.280702,132,184,8.363636,6,3,0.0,6,1.105263,1.622807,0.678161,30.666667,22.00
2,Kieron Pollard,273,147,23,17,45,185.714286,222,274,7.405405,15,6,3.5,14,1.319728,1.857143,0.738318,18.266667,14.80
3,Yuvraj Singh,255,199,20,14,43,128.140704,138,152,6.608696,5,2,0.0,14,0.824121,1.281407,0.551515,30.400000,27.60
4,Yusuf Pathan,333,201,22,24,100,165.671642,204,246,7.235294,5,9,1.0,14,1.154229,1.656716,0.651613,49.200000,40.80

In [637]:
data11=AR10.drop(['Type','Age'],axis=1)
data11=data11.replace([np.inf, -np.inf], np.nan)
data11=data11.dropna(how='any')
data11=data11[data11["Matches Played"]!=0]
data11=data11[data11["Runs"]!=0]
data11.reset_index(drop=True, inplace=True)

In [639]:
data11.shape

(7, 19)

In [640]:
X9=data11.drop(["Player's Name"],axis=1)
pca.fit(X9)
lol11=pca.transform(X9)
df11=pd.DataFrame(lol11)
df11['Name']=data11["Player's Name"]
df11.to_csv('C:/Users/samde/Desktop/Data Science/Datasets/IPL/PCAR10.csv')

<h3>PCA AR 2011</h3>

In [648]:
data12.head()

,Player's Name,Runs,Balls,Strike Rate,Four,Six,Highest Runs Scored,Balls Bowled,Runs Conceded,Wicket,Economy,ct_st,Run Outs,Matches Played,HardHitting2011,FastScoring2011,Running2011,consistency2011,wickettaking2011
0,Dwayne Bravo,64,53,120.754717,4,4,23,157,228,4,8.713376,4,1.0,10,0.754717,1.207547,0.533333,57.000000,39.250000
1,Shane Watson,185,114,162.280702,18,9,60,132,184,6,8.363636,3,0.0,6,1.105263,1.622807,0.678161,30.666667,22.000000
2,Kieron Pollard,273,147,185.714286,23,17,45,222,274,15,7.405405,6,3.5,14,1.319728,1.857143,0.738318,18.266667,14.800000
3,Yusuf Pathan,333,201,165.671642,22,24,100,204,246,5,7.235294,9,1.0,14,1.154229,1.656716,0.651613,49.200000,40.800000
4,Ravichandran Ashwin,30,40,75.000000,2,0,11,288,293,13,6.104167,1,0.5,12,0.200000,0.750000,0.578947,22.538462,22.153846

In [647]:
data12=AR11.drop(['Type','Age'],axis=1)
data12=data12.replace([np.inf, -np.inf], np.nan)
data12=data12.dropna(how='any')
data12=data12[data12["Matches Played"]!=0]
data12=data12[data12["Runs"]!=0]
data12.reset_index(drop=True, inplace=True)

In [649]:
data12.shape

(6, 19)

In [651]:
X10=data12.drop(["Player's Name"],axis=1)
pca.fit(X10)
lol12=pca.transform(X10)
df12=pd.DataFrame(lol12)
df12['Name']=data12["Player's Name"]
df12.to_csv('C:/Users/samde/Desktop/Data Science/Datasets/IPL/PCAR11.csv')

SOME DROPPED COLUMNS

In [185]:
bat16.reset_index(drop=True, inplace=True)

In [198]:
bat16.drop(['Team'],axis=1,inplace=True)

C:\Users\samde\Miniconda3\envs\AI\lib\site-packages\pandas\core\frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [201]:
bat16.drop(['From'],axis=1,inplace=True)

C:\Users\samde\Miniconda3\envs\AI\lib\site-packages\pandas\core\frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [188]:
bat15.reset_index(drop=True, inplace=True)

In [199]:
bat15.drop(['Team'],axis=1,inplace=True)

C:\Users\samde\Miniconda3\envs\AI\lib\site-packages\pandas\core\frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [203]:
bat15.drop(['From'],axis=1,inplace=True)

C:\Users\samde\Miniconda3\envs\AI\lib\site-packages\pandas\core\frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [204]:
bat15.head()

,Player's Name,Run,Ball,Strike Rate,Four,Six,Highest Run Scored,Ct_St,Run Outs,Matches Played,Type,HardHitting2015,FastScoring2015,Running2015
0,Suresh Raina,374,305,122.6,31,16,62,11,0.0,17,BAT,0.721311,1.226230,0.596899
1,Faf du Plessis,380,304,125,37,5,55,8,1.0,17,BAT,0.585526,1.250000,0.770992
2,Kedar Jadhav,189,140,135,16,7,63,9,0.5,14,BAT,0.757143,1.350000,0.709402
3,Ambati Rayudu,281,193,145.6,18,16,53,9,0.0,15,BAT,0.870466,1.455959,0.710692
4,Rohit Sharma,482,333,144.7,41,21,98,5,0.5,16,BAT,0.870871,1.447447,0.708487

PCA BAT 2015

In [700]:
from sklearn.decomposition import PCA

In [702]:
bat15.reset_index(drop=True, inplace=True)

In [704]:
data=bat15.drop(["Player's Name","Type"],axis=1)

In [705]:
data.head()

,Run,Ball,Strike Rate,Four,Six,Highest Run Scored,Ct_St,Run Outs,Matches Played,HardHitting2015,FastScoring2015,Running2015
0,374,305,122.6,31,16,62,11,0.0,17,0.721311,1.226230,0.596899
1,380,304,125,37,5,55,8,1.0,17,0.585526,1.250000,0.770992
2,189,140,135,16,7,63,9,0.5,14,0.757143,1.350000,0.709402
3,281,193,145.6,18,16,53,9,0.0,15,0.870466,1.455959,0.710692
4,482,333,144.7,41,21,98,5,0.5,16,0.870871,1.447447,0.708487

In [706]:
pca = PCA(n_components=2)

In [707]:
pca.fit(data)

PCA(copy=True, iterated_power='auto', n_components=2, random_state=None,
  svd_solver='auto', tol=0.0, whiten=False)

In [708]:
lol=pca.transform(data)

In [709]:
df=pd.DataFrame(lol)

In [710]:
bat15.reset_index(drop=True, inplace=True)

In [712]:
df['Name']=bat15["Player's Name"]

In [713]:
df.to_csv('C:/Users/samde/Desktop/Data Science/Datasets/IPL/PCABat15.csv')

PCA BALL 2015

In [715]:
ball15.reset_index(drop=True, inplace=True)

In [716]:
data3=ball15.drop(["Type",'From'],axis=1)

In [717]:
data3.head()

,Player's Name,Balls Bowled,Runs Conceded,Economy,Wickets,Matches Played,consistency2015,wickettaking2015
0,Imran Tahir,213,314,8.8,15,10,20.933333,14.200000
1,Harbhajan Singh,342,446,7.8,18,15,24.777778,19.000000
2,Shardul Thakur,18,38,12.7,1,1,38.000000,18.000000
3,Mohit Sharma,342,481,8.4,14,16,34.357143,24.428571
4,Jasprit Bumrah,90,184,12.3,3,4,61.333333,30.000000

In [718]:
data3=data3.replace([np.inf, -np.inf], np.nan)

In [719]:
data3=data3.dropna(how='any')

In [720]:
data3.reset_index(drop=True, inplace=True)

In [721]:
data3.shape

(22, 8)

In [722]:
X1=data3.drop(["Player's Name"],axis=1)

In [723]:
pca = PCA(n_components=2)

In [724]:
pca.fit(X1)

PCA(copy=True, iterated_power='auto', n_components=2, random_state=None,
  svd_solver='auto', tol=0.0, whiten=False)

In [725]:
lol3=pca.transform(X1)

In [726]:
df3=pd.DataFrame(lol3)

In [727]:
df3['Name']=data3["Player's Name"]

In [728]:
df3.to_csv('C:/Users/samde/Desktop/Data Science/Datasets/IPL/PCABall15.csv')

2016 PCA BAT

In [729]:
ball16.reset_index(drop=True, inplace=True)

In [730]:
data2=bat16.drop(["Type",'Age','Type'],axis=1)

In [731]:
data2.head()

,Player's Name,Run,Ball,Strike Rate,Four,Six,Highest Run Scored,Ct_St,Run Outs,Matches Played,HardHitting2016,FastScoring2016,Running2016
0,Suresh Raina,399,312,127.9,39,10,75,7.0,1.0,15,0.692308,1.278846,0.695817
1,Faf du Plessis,206,162,127.2,17,9,69,4.0,0.0,6,0.753086,1.271605,0.617647
2,Kedar Jadhav,42,32,131.3,2,2,25,1.0,0.0,4,0.625000,1.312500,0.785714
3,Ambati Rayudu,334,278,120.1,28,12,65,4.0,0.5,13,0.661871,1.201439,0.630252
4,Rohit Sharma,489,368,132.9,49,16,85,2.0,1.0,14,0.793478,1.328804,0.650165

In [732]:
data2=data2[data2["Matches Played"]!=0]

In [733]:
data2=data2.dropna(how='any')

In [734]:
data2=data2[data2["Run"]!=0]

In [735]:
data2.shape

(23, 13)

In [736]:
data2.reset_index(drop=True, inplace=True)

In [737]:
X=data2.drop(["Player's Name"],axis=1)

In [739]:
pca = PCA(n_components=2)

In [740]:
pca.fit(X)

PCA(copy=True, iterated_power='auto', n_components=2, random_state=None,
  svd_solver='auto', tol=0.0, whiten=False)

In [691]:
lol2=pca.transform(X)

In [692]:
df2=pd.DataFrame(lol2)

In [693]:
df2['Name']=data2["Player's Name"]

In [696]:
df2.to_csv('C:/Users/samde/Desktop/Data Science/Datasets/IPL/PCABat16.csv')

In [362]:
df2.shape

(23, 3)

2016 BALL PCA

In [741]:
ball16.reset_index(drop=True, inplace=True)

In [742]:
data4=ball16.drop(['Type','From','Age','Team','Sl.no'],axis=1)

In [743]:
data4.head()

,Player's Name,Balls Bowled,Runs Conceded,Economy,Wickets,Ct_St,Matches Played,consistency2016,wickettaking2016
0,Deepak Chahar,30,41,8.2,0,1.0,2,inf,inf
1,Imran Tahir,96,138,8.6,5,0.0,4,27.600000,19.200000
2,Harbhajan Singh,294,392,8,9,4.0,14,43.555556,32.666667
3,Shardul Thakur,0,0,-,0,0.0,0,NaN,NaN
4,Mohit Sharma,291,407,8.4,13,3.0,14,31.307692,22.384615

In [744]:
data4=data4.replace([np.inf, -np.inf], np.nan)

In [745]:
data4=data4.dropna(how='any')

In [746]:
data4.shape

(25, 9)

In [747]:
data4=data4[data4["Matches Played"]!=0]

In [748]:
data4.reset_index(drop=True, inplace=True)

In [749]:
X2=data4.drop(["Player's Name"],axis=1)

In [750]:
pca = PCA(n_components=2)

In [751]:
pca.fit(X2)

PCA(copy=True, iterated_power='auto', n_components=2, random_state=None,
  svd_solver='auto', tol=0.0, whiten=False)

In [752]:
lol4=pca.transform(X2)

In [753]:
df4=pd.DataFrame(lol4)

In [755]:
df4['Name']=data4["Player's Name"]
df4.to_csv('C:/Users/samde/Desktop/Data Science/Datasets/IPL/PCABall16.csv')

2015 AR PCA

In [495]:
data5=AR15.drop(['Type'],axis=1)

In [ ]:
data5=data5.replace([np.inf, -np.inf], np.nan)
data5=data5.dropna(how='any')

In [532]:
data5=data5[data5["Matches Played"]!=0]
data5=data5[data5["Run"]!=0]

In [533]:
data5.reset_index(drop=True, inplace=True)

In [517]:
data5.shape

(17, 19)

In [535]:
X3=data5.drop(["Player's Name"],axis=1)
pca.fit(X3)
lol5=pca.transform(X3)
df5=pd.DataFrame(lol5)
df5['Name']=data5["Player's Name"]
df5.to_csv('C:/Users/samde/Desktop/Data Science/Datasets/IPL/PCAR15.csv')

2016 AR PCA

In [497]:
data6=AR16.drop(['Type'],axis=1)

In [506]:
data6=data6.replace([np.inf, -np.inf], np.nan)
data6=data6.dropna(how='any')

In [518]:
data6=data6[data6["Matches Played"]!=0]

In [519]:
data6.reset_index(drop=True, inplace=True)

In [520]:
data6.head()

,Player's Name,Run,Ball,Strike Rate,Four,Six,Highest Run Scored,Balls Bowled,Runs Conceded,Economy,Wickets,Ct_St,Run Outs,Matches Played,HardHitting2016,FastScoring2016,Running2016,consistency2016,wickettaking2016
0,Ravindra Jadeja,191,177,107.9,14,4,36,241,311,7.7,8,4.0,0.0,15,0.451977,1.079096,0.698113,38.875000,30.125000
1,Dwayne Bravo,99,82,120.7,11,1,22,336,494,8.8,17,6.0,1.5,15,0.609756,1.207317,0.700000,29.058824,19.764706
2,Shane Watson,179,134,133.6,14,12,36,339,485,8.6,20,6.0,2.5,16,0.955224,1.335821,0.472222,24.250000,16.950000
3,Hardik Pandya,44,63,69.8,4,0,9,100,153,9.2,3,6.0,0.0,11,0.253968,0.698413,0.474576,51.000000,33.333333
4,Krunal Pandya,237,124,191.1,22,13,86,187,406,7.6,6,2.0,0.5,12,1.338710,1.911290,0.797753,67.666667,31.166667

In [521]:
data6.shape

(17, 19)

In [536]:
X4=data6.drop(["Player's Name"],axis=1)
pca.fit(X4)
lol6=pca.transform(X4)
df6=pd.DataFrame(lol6)
df6['Name']=data6["Player's Name"]
df6.to_csv('C:/Users/samde/Desktop/Data Science/Datasets/IPL/PCAR16.csv')