<h1>Greetings</h1>

This IPython file showcases our approach to the "Hackathon 2k19" organised by Department of Big Data Analytics, St. Joseph's College (Autonomous). The task was to pick the best-performing eleven  players from 11 IPL seasons.

This is one of the part of the series of notebooks that we have used to pick our final team. In this notebook we have extracted players from the dataset who only are gonna play in 2019. Before this further correction and analysis of the names was done using Excel.

Importing the Libraries

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

<h3>Importing 2019</h3>

We will be using only the Names from this dataset(2019) against all the other datasets(2010-18) to find all the players playing only in 2019.

In [25]:
two_019=pd.read_csv("C:/Users/samde/Desktop/Data Science/Datasets/IPL/IPL2019.csv")
two_019['NAME']=two_019['NAME'].str.lstrip()
two_019['NAME']=two_019['NAME'].str.rstrip()

In [26]:
two_019.head()

            NAME TEAM COUNTRY
0       MS Dhoni  CSK     IND
1   Suresh Raina  CSK     IND
2  Deepak Chahar  CSK     IND
3        KM Asif  CSK     IND
4    Karn Sharma  CSK     IND

In [27]:
two_019.shape

(187, 3)

In [28]:
new_key=pd.DataFrame()

In [29]:
new_key['Player']=two_019['NAME']
#new_key['Team']=two_019['TEAM']
#new_key['From']=two_019['COUNTRY']

In [30]:
new_key.shape

(187, 1)

SAME KEYS FOR 2008 and 2019

In [31]:
two_008=pd.read_excel("C:/Users/samde/Desktop/Data Science/Datasets/IPL/IPL2008.xls")

In [32]:
two_008['Player'].nunique()

200

In [33]:
two_008.head()

,Sl. NO,Player,Team,From,Runs,Balls,Strike Rate,Balls Bowled,Runs Conceded,Wickets,Economy,Ct_St,Run Outs,Matches Played,Age
0,1,Aakash Chopra,KKR,IND,42,52,80.769231,0,0,0,NaN,2,0.0,5,30
1,2,AB de Villiers,DD,SA,95,98,96.938776,0,0,0,NaN,5,1.5,6,24
2,3,Abdur Razzak,RCB,BAN,0,2,0.000000,12,29,0,14.500000,0,0.0,1,25
3,4,Abhinav Mukund,CSK,IND,0,1,0.000000,0,0,0,NaN,3,0.0,2,18
4,5,Abhishek Nayar,MI,IND,206,138,149.275362,42,68,1,9.714286,4,0.0,14,24

In [34]:
two_008['Player']=two_008['Player'].str.lstrip()
two_008['Player']=two_008['Player'].str.rstrip()

In [37]:
del old_key
old_key=pd.DataFrame()

In [38]:
old_key['Player']=two_008['Player']
#old_key['Team']=two_008['Team']
#old_key['From']=two_008['From']

In [39]:
set(new_key['Player']).intersection(set(old_key['Player']))

{'AB de Villiers',
 'Ajinkya Rahane',
 'Amit Mishra',
 'Chris Gayle',
 'Dhawal Kulkarni',
 'Dinesh Karthik',
 'Dwayne Bravo',
 'Harbhajan Singh',
 'Ishant Sharma',
 'Lasith Malinga',
 'MS Dhoni',
 'Manish Pandey',
 'Parthiv Patel',
 'Piyush Chawla',
 'Ravichandran Ashwin',
 'Ravindra Jadeja',
 'Robin Uthappa',
 'Rohit Sharma',
 'Shane Watson',
 'Shikhar Dhawan',
 'Siddarth Kaul',
 'Suresh Raina',
 'Virat Kohli',
 'Yusuf Pathan',
 'Yuvraj Singh'}

In [40]:
same_key=pd.DataFrame()

In [41]:
same_key=pd.merge(new_key,old_key ,on=['Player'], how='inner')

In [42]:
same_key.nunique()

Player    25
dtype: int64

SAME KEYS FOR 2009 and 2019

In [ ]:
two_009=pd.read_excel("C:/Users/samde/Desktop/Data Science/Datasets/IPL/IPL2009.xls")

In [ ]:
two_009.head()

In [ ]:
new_key[new_key['Player']=='MS Dhoni']

In [ ]:
two_009[two_009['Player']=='MS Dhoni ']

In [ ]:
two_009['Player']=two_009['Player'].str.lstrip()
two_009['Player']=two_009['Player'].str.rstrip()

In [ ]:
old_key['Player']=two_009['Player']

In [ ]:
same_key1=pd.merge(new_key,old_key, on=['Player'], how='inner')

In [ ]:
same_key1.nunique()

SAME KEYS FOR 2010 and 2019

In [43]:
two_010=pd.read_excel("C:/Users/samde/Desktop/Data Science/Datasets/IPL/IPL2010.xls")

In [44]:
two_010.head()

,Sl no,Player Name,Team,From,Runs,Balls,Four,Six,Highest Run Scored,Strike Rate,Balls Bowled,Runs Conceded,Economy,Wickets,ct_st,Run Outs,Matches Played,Age
0,1,A Ahmed,MI,NaN,4,7,0,0,4,57.142857,12,26,13.0,0,0,0.0,1,NaN
1,2,A Uniyal,RR,IND,4,7,0,0,4,57.142857,36,66,11.0,2,0,1.0,3,28.0
2,3,Aavishkar Salvi,DD,IND,0,0,0,0,0,NaN,0,0,NaN,0,0,0.0,0,28.0
3,4,AB de Villiers,DD,SA,111,119,7,0,45,93.277311,0,0,NaN,0,6,2.0,7,26.0
4,5,Abhimanyu Mithun,RCB,IND,5,4,1,0,5,125.000000,18,39,13.0,1,0,0.0,1,20.0

In [45]:
two_010['Player Name']=two_010['Player Name'].str.lstrip()
two_010['Player Name']=two_010['Player Name'].str.rstrip()

In [46]:
del old_key
old_key=pd.DataFrame()

In [47]:
old_key['Player']=two_010['Player Name']

In [48]:
same_key2=pd.merge(new_key,old_key, on=['Player'], how='inner')

In [50]:
same_key2.nunique()

Player    35
dtype: int64

In [55]:
two_010["Player's Name"]=two_010['Player Name']
two_010.drop(['Player Name'],axis=1,inplace=True)

In [51]:
same_key2["Player's Name"]=same_key2['Player']
same_key2.drop(['Player'],axis=1,inplace=True)

In [56]:
two_010_2=pd.merge(same_key2,two_010,how='left',on=["Player's Name"])

In [57]:
two_010_2.to_csv('C:/Users/samde/Desktop/Data Science/Datasets/IPL/IPL(2010-19).csv', index=False)

SAME KEYS FOR 2011 and 2019

In [58]:
two_011=pd.read_excel("C:/Users/samde/Desktop/Data Science/Datasets/IPL/IPL2011.xls")

In [59]:
two_011.head()

,Sl No,Player Name,Team,From,Runs,Balls,Strike Rate,Four,Six,Highest Runs Scored,Balls Bowled,Runs Conceded,Wicket,Economy,ct_st,Run Outs,Matches Played,Age
0,1,A Ahmed,MI,NaN,4.0,7.0,57.142857,0.0,0.0,4,12.0,26.0,0.0,13.0,0,0.0,1,NaN
1,2,A Uniyal,RR,IND,4.0,7.0,57.142857,0.0,0.0,4,36.0,66.0,2.0,11.0,0,1.0,3,28.0
2,3,Aavishkar Salvi,DD,IND,0.0,0.0,NaN,0.0,0.0,0,0.0,0.0,0.0,NaN,0,0.0,0,28.0
3,4,AB de Villiers,DD,SA,111.0,119.0,93.277311,7.0,0.0,45,0.0,0.0,0.0,NaN,6,2.0,7,26.0
4,5,Abhimanyu Mithun,RCB,IND,5.0,4.0,125.000000,1.0,0.0,5,18.0,39.0,1.0,13.0,0,0.0,1,20.0

In [60]:
two_011['Player Name']=two_011['Player Name'].str.lstrip()
two_011['Player Name']=two_011['Player Name'].str.rstrip()

In [61]:
old_key['Player']=two_011['Player Name']

In [62]:
same_key3=pd.merge(new_key,old_key, on=['Player'], how='inner')

In [63]:
same_key3.nunique()

Player    34
dtype: int64

In [64]:
two_011["Player's Name"]=two_011['Player Name']
two_011.drop(['Player Name'],axis=1,inplace=True)

In [65]:
same_key3["Player's Name"]=same_key3['Player']
same_key3.drop(['Player'],axis=1,inplace=True)

In [66]:
two_011_2=pd.merge(same_key3,two_011,how='left',on=["Player's Name"])

In [67]:
two_011_2.shape

(34, 18)

In [68]:
two_011_2.to_csv('C:/Users/samde/Desktop/Data Science/Datasets/IPL/IPL(2011-19).csv', index=False)

SAME KEYS FOR 2012 and 2019

In [69]:
two_012=pd.read_excel("C:/Users/samde/Desktop/Data Science/Datasets/IPL/IPL2012.xlsx")

In [70]:
two_012.head()

,Sl No,Player's Name,Team,From,Run,Ball,Strike Rate,Four,Six,Balls Bowled,Runs Concede,Economy,Wickets,Ct_St,Matches Played,Age
0,1,A Chandila,RR,IND,0,1,0,0,0,84,86,6.14286,5,3,4,28
1,2,Aakash Chopra,RR,IND,0,0,-,0,0,0,0,-,0,0,0,34
2,3,Aaron Finch,DD,AUS,55,51,107.843,8,0,0,0,-,0,0,2,25
3,4,Aavishkar Salvi,DD,IND,0,0,-,0,0,0,0,-,0,0,0,30
4,5,AB de Villiers,RCB,SA,317,198,160.101,26,15,0,0,-,0,9,15,28

In [71]:
two_012["Player's Name"]=two_012["Player's Name"].str.lstrip()
two_012["Player's Name"]=two_012["Player's Name"].str.rstrip()

In [72]:
old_key['Player']=two_012["Player's Name"]

In [75]:
same_key_3=pd.merge(new_key,old_key, on=['Player'], how='inner')

In [76]:
same_key_3.nunique()

Player    37
dtype: int64

In [78]:
same_key_3["Player's Name"]=same_key_3['Player']
same_key_3.drop(['Player'],axis=1,inplace=True)

In [80]:
two_012_2=pd.merge(same_key_3,two_012,how='left',on=["Player's Name"])

In [81]:
two_012_2.shape

(37, 16)

In [82]:
two_012_2.to_csv('C:/Users/samde/Desktop/Data Science/Datasets/IPL/IPL(2012-19).csv', index=False)

SAME KEYS FOR 2013 and 2019

In [9]:
two_013=pd.read_csv("C:/Users/samde/Desktop/Data Science/Datasets/IPL/IPL2013.csv")

In [10]:
two_013.head()

,Sl.No,Player's Name,Team,From,Run,Ball,Strike Rate,Four,Six,Highest Run Scored,BallsBowled,RunsConceded,Economy,Wickets,Ct_St,Run Outs,Matches Played,Age
0,1,Aaron Finch,PWI,IND,456,336,135.7,54,16,67,24,49,12.3,1,2,0.0,14,26.0
1,2,AB de Villiers,BRC,SA,360,219,164.4,34,15,64,0,0,-,0,8,1.0,14,29.0
2,3,Abhimanyu Mithun,BRC,IND,2,2,100,0,0,2,24,37,9.3,1,0,0.0,1,23.0
3,4,Abhinav Mukund,BRC,IND,19,21,90.5,1,0,19,0,0,-,0,0,0.0,1,23.0
4,5,Abhishek Nayar,PWI,IND,66,73,90.4,5,0,25,48,59,7.4,2,1,0.5,11,29.0

In [11]:
two_013["Player's Name"]=two_013["Player's Name"].str.lstrip()
two_013["Player's Name"]=two_013["Player's Name"].str.rstrip()

In [14]:
del old_key
old_key=pd.DataFrame()

In [15]:
old_key['Player']=two_013["Player's Name"]

In [16]:
same_key4=pd.merge(new_key,old_key, on=['Player'], how='inner')

In [17]:
same_key4.nunique()

Player    65
dtype: int64

In [20]:
same_key4["Player's Name"]=same_key4['Player']
same_key4.drop(['Player'],axis=1,inplace=True)

In [21]:
two_013_2=pd.merge(same_key4,two_013,how='left',on=["Player's Name"])

In [23]:
two_013_2.to_csv('C:/Users/samde/Desktop/Data Science/Datasets/IPL/IPL(2013-19).csv', index=False)

SAME KEYS FOR 2014 and 2019

In [ ]:
two_014=pd.read_excel("C:/Users/samde/Desktop/Data Science/Datasets/IPL/IPL2014.xlsx")

In [ ]:
two_014.head()

In [ ]:
two_014["Player's Name"]=two_014["Player's Name"].str.lstrip()
two_014["Player's Name"]=two_014["Player's Name"].str.rstrip()

In [ ]:
old_key['Player']=two_014["Player's Name"]

In [ ]:
same_key5=pd.merge(new_key,old_key, on=['Player'], how='inner')

In [ ]:
same_key5.nunique()

SAME KEYS FOR 2015 and 2019

In [205]:
two_015=pd.read_csv("C:/Users/samde/Desktop/Data Science/Datasets/IPL/IPL2015.csv")

In [206]:
two_015.head()

,Sl.No,Player's Name,Team,From,Run,Ball,Strike Rate,Four,Six,Highest Run Scored,Balls Bowled,Runs Conceded,Economy,Wickets,Ct_St,Run Outs,Matches Played
0,1,Aaron Finch,MI,AUS,23,33,69.7,4,0,10,0,0,-,0,0,0.0,3
1,2,AB de Villiers,RCB,SA,513,293,175.1,60,22,133,0,0,-,0,8,1.0,16
2,3,Abu Nechim,RCB,IND,10,5,200,2,0,5,72,128,10.7,1,0,0.5,3
3,4,Aditya Tare,MI,IND,14,17,82.4,1,0,7,0,0,-,0,1,0.0,2
4,5,Ajinkya Rahane,RR,IND,540,413,130.8,53,13,91,0,0,-,0,3,1.5,14

In [207]:
two_015["Player's Name"]=two_015["Player's Name"].str.lstrip()
two_015["Player's Name"]=two_015["Player's Name"].str.rstrip()

In [209]:
del old_key
old_key=pd.DataFrame()

In [210]:
old_key['Player']=two_015["Player's Name"]

In [211]:
same_key6=pd.merge(new_key,old_key, on=['Player'], how='inner')

In [212]:
same_key6["Player's Name"]=same_key6['Player']

In [213]:
same_key6.drop(['Player'],axis=1,inplace=True)

In [215]:
same_key6.shape

(73, 1)

In [216]:
two_015_2=pd.merge(same_key6,two_015,how='left',on=["Player's Name"])

In [218]:
two_015_2.shape

(73, 17)

In [219]:
two_015_2.to_csv('C:/Users/samde/Desktop/Data Science/Datasets/IPL/IPL(2015-19).csv', index=False)

SAME KEYS FOR 2016 and 2019

In [192]:
two_016=pd.read_csv("C:/Users/samde/Desktop/Data Science/Datasets/IPL/IPL2016.csv")

In [193]:
two_016.head()

,Sl.no,Player's Name,Team,From,Run,Ball,Strike Rate,Four,Six,Highest Run Scored,Balls Bowled,Runs Conceded,Economy,Wickets,Ct_St,Run Outs,Matches Played,Age
0,1,Aaron Finch,GL,AUS,393,299,131.4,45,11,74,0,0,-,0,3.0,0.0,13,29
1,2,AB de Villiers,RCB,SA,687,407,168.8,57,37,129,0,0,-,0,19.0,0.0,16,32
2,3,Abhimanyu Mithun,SH,IND,0,0,-,0,0,0,0,0,-,0,0.0,0.0,0,26
3,4,Abu Nechim,RCB,IND,0,0,-,0,0,0,0,0,-,0,0.0,0.0,0,27
4,5,Adam Milne,RCB,NZ,0,0,-,0,0,0,24,43,10.8,1,1.0,0.0,1,24

In [194]:
two_016["Player's Name"]=two_016["Player's Name"].str.lstrip()
two_016["Player's Name"]=two_016["Player's Name"].str.rstrip()

In [195]:
del old_key
old_key=pd.DataFrame()

In [196]:
old_key['Player']=two_016["Player's Name"]

In [197]:
same_key7=pd.merge(new_key,old_key, on=['Player'], how='inner')

In [198]:
same_key7.nunique()

Player    98
dtype: int64

In [199]:
same_key7["Player's Name"]=same_key7['Player']
same_key7.drop(['Player'],axis=1,inplace=True)
two_016_2=pd.merge(same_key7,two_016,how='left',on=["Player's Name"])

In [200]:
two_016_2.shape

(98, 18)

In [203]:
two_016_2.to_csv('C:/Users/samde/Desktop/Data Science/Datasets/IPL/IPL(2016-19).csv', index=False)

SAME KEYS FOR 2017 and 2019

In [177]:
two_017=pd.read_csv("C:/Users/samde/Desktop/Data Science/Datasets/IPL/IPL2017.csv")

In [178]:
two_017.head()

,Sl.no,Player's Name,Team,From,Run,Ball,Strike Rate,Four,Six,Highest Run Scored,Balls Bowled,Runs Conceded,Economy,Wickets,Ct_St,Run Outs,Matches Played,Age,Type
0,1,Aaron Finch,GL,AUS,299,180,166.1,25,19.0,72,0,0,-,0,5,1.0,13,30.0,BAT
1,2,AB de Villiers,RCB,SA,216,163,132.5,12,16.0,89,0,0,-,0,6,0.0,9,33.0,BAT
2,3,Abhimanyu Mithun,SH,IND,0,0,-,0,0.0,0,0,0,-,0,0,0.0,0,27.0,Bowl
3,4,Adam Milne,RCB,NZ,7,12,58.3,0,0.0,5,84,134,9.6,3,4,0.0,4,25.0,Bowl
4,5,Adam Zampa,RPS,AUS,5,7,71.4,1,0.0,5,119,163,8.2,7,0,0.0,6,25.0,Bowl

In [179]:
two_017["Player's Name"]=two_017["Player's Name"].str.lstrip()
two_017["Player's Name"]=two_017["Player's Name"].str.rstrip()

In [180]:
del old_key
old_key=pd.DataFrame()

In [181]:
old_key['Player']=two_017["Player's Name"]

In [182]:
same_key8=pd.merge(new_key,old_key, on=['Player'], how='inner')

In [183]:
same_key8.shape

(116, 1)

In [185]:
same_key8["Player's Name"]=same_key8['Player']

In [186]:
same_key8.drop(['Player'],axis=1,inplace=True)

In [188]:
two_017_2=pd.merge(same_key8,two_017,how='left',on=["Player's Name"])

In [189]:
two_017_2.shape

(116, 19)

In [190]:
two_017_2.to_csv('C:/Users/samde/Desktop/Data Science/Datasets/IPL/IPL(2017-19).csv', index=False)

SAME KEYS FOR 2018 and 2019

In [143]:
two_018=pd.read_csv("C:/Users/samde/Desktop/Data Science/Datasets/IPL/IPL2018.csv")

In [144]:
two_018.shape

(197, 19)

In [145]:
two_018[two_018['Player\'s Name']=='Trent Boult']

,Sl.No,Player's Name,Team,From,Run,Ball,Strike Rate,4's,6's,Highest Run Scored,Balls Bowled,Runs Scored,Economy,Wickets,Ct_St,Run Outs,Matches Played,Age,Type
186,187,Trent Boult,DD,NZ,0,2,0,0,0,0,316,466,8.8,18,9,1.0,14,29.0,Bowl

In [146]:
two_018["Player's Name"]=two_018["Player's Name"].str.lstrip()
two_018["Player's Name"]=two_018["Player's Name"].str.rstrip()

In [147]:
del old_key
old_key=pd.DataFrame()

In [148]:
old_key['Player']=two_018["Player's Name"]

In [149]:
same_key9=pd.merge(new_key,old_key, on=['Player'], how='inner')

In [150]:
same_key9.nunique()

Player    130
dtype: int64

In [151]:
same_key9["Player's Name"]=same_key9['Player']

In [152]:
same_key9.drop(['Player'],axis=1,inplace=True)

In [153]:
two_018_2=pd.merge(same_key9,two_018,how='left',on=["Player's Name"])

In [154]:
two_018_2.to_csv('C:/Users/samde/Desktop/Data Science/Datasets/IPL/IPL(2018-19).csv', index=False)

In [155]:
two_018_2.shape

(130, 19)